# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ahlem\OneDrive\Documents\NetBeansProjects\mobile\pidev\WorkShops-CodenameOne-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
